html{
    background-color:grey ;
    background-image:url(IMAGES/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.homem{
    font-size:1.5em;
}
.hr{
   font-size:1.0em; 
}
.a1{
    background-color: aqua;
}
.a2{
    background-color: red;
}
.a3{
    background-color: blueviolet;
}
.a4{
    background-color: beige;
}
.a5{
    background-color: chartreuse;
}
a:hover{
    color: chartreuse;
    font-size: 1.2em;
}
.search-box{
    display:flex;
    flex-direction: row;
    margin-top:0;


}
.search-box input{
width: 80%;
padding:8px;
border: none;
background-color: aquamarine;
border-radius: 3px;

}
.search-box button{
    padding:8px 15px;
    width: 20%;  
}
.row{
    display: flex;
    width: 100%;
}
.box1{
    margin-right: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.box2{
    margin-right:50%;
    text-align: center;
    margin-bottom: 10px;
}
.box1 img{
    width:200px;
    border: solid 30px red;
    border-radius: 10px;

}
.box2 img{
    width:200px;
    border: solid 30px red;
    border-radius: 10px;
}
.Icon{
    text-align: center;
}
.Icon a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-brands.fa-youtube.fa-3x{
color: hsl(0, 100%, 50%);
}
.fa-brands.fa-youtube.fa-3x:hover{
color: hsl(0, 100%, 60%);
}
.fa-brands.fa-twitter.fa-3x{
    color: hsl(210, 100%, 56%);
}
.fa-brands.fa-twitter.fa-3x:hover{
    color: hsl(210, 100%, 66%);
}
.fa-brands.fa-facebook-f.fa-3x{
color: hsl(240, 94%, 59%);
}
.fa-brands.fa-facebook-f.fa-3x:hover{
color: hsl(240, 94%, 69%);
}
.fa-brands.fa-tiktok.fa-3x{
color: hsl(0, 0%, 0%);
}
.fa-brands.fa-tiktok.fa-3x:hover{
color: hsl(0, 0%, 20%);
}
.fa-brands.fa-whatsapp.fa-3x{
color: hsl(120, 37%, 52%);
}
.fa-brands.fa-whatsapp.fa-3x:hover{
color: hsl(120, 37%, 62%);
}
.fa-brands.fa-instagram.fa-3x{
color: hsl(16, 75%, 65%);
}
.fa-brands.fa-instagram.fa-3x:hover{
color: hsl(16, 75%, 75%);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#copy{
    margin-right: 20px;
    font-size: 2rem;
    padding: 10px;
    width: 50%;

}
#contact{
    font-size: 1.2rem;
    padding: 10px;
    width: 50%;
}
table{
    border:solid 2px;
}
tr{
    background: #000;
    box-align:center;
}
.dropdown{
    display: inline-block;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown:hover a{
    color: chocolate;
}
.dropdown .content{
    background-color: aqua;
    position: absolute;
    box-shadow: 4px 4px 10px;
    display: none;
}
.dropdown:hover .content{
    display: block;

}
button{
   background-color: coral; 
}
.hr1{
    background-color: rgb(255, 0, 144);
    font-size: 0.9em;
}
button:hover{
    background-color: chartreuse;
    font-size: 1.2em;
}
button:active{
    color: red;
    font-size: 1.2em;
}
.logoutb{
    display: block;
    align-self: center;
    text-align: center;
}
button:visited{
    color: blueviolet;
}
img{
    width: 100%;
    height: auto;
}
@media screen and (max-width:600px) {
    *{
        width: 100%;
    }
}
