html{
    background-color:grey ;
    background-image:url(IMAGES/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.homem{
    font-size:1.5em;
}
.hr{
   font-size:1.0em; 
}
.a1{
    background-color: aqua;
}
.a2{
    background-color: red;
}
.a3{
    background-color: blueviolet;
}
.a4{
    background-color: beige;
}
.a5{
    background-color: chartreuse;
}
a:hover{
    color: chartreuse;
    font-size: 1.2em;
}
.search-box{
    display:flex;
    flex-wrap: wrap;
}
.search-box input{
    flex: 1 1 70%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1em;
}
.search-box button{
  flex:1 1 25%; 
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.box1, .box2{
    margin:10px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.box1 img, .box2 img{
    width:100%;
    max-width: 250px;
    height: auto;
    border: solid 30px red;
    border-radius: 10px;
}
.Icon{
    text-align: center;
    flex-wrap: wrap;
}
.Icon a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-brands.fa-youtube.fa-3x{
color: hsl(0, 100%, 50%);
}
.fa-brands.fa-youtube.fa-3x:hover{
color: hsl(0, 100%, 60%);
}
.fa-brands.fa-twitter.fa-3x{
    color: hsl(210, 100%, 56%);
}
.fa-brands.fa-twitter.fa-3x:hover{
    color: hsl(210, 100%, 66%);
}
.fa-brands.fa-facebook-f.fa-3x{
color: hsl(240, 94%, 59%);
}
.fa-brands.fa-facebook-f.fa-3x:hover{
color: hsl(240, 94%, 69%);
}
.fa-brands.fa-tiktok.fa-3x{
color: hsl(0, 0%, 0%);
}
.fa-brands.fa-tiktok.fa-3x:hover{
color: hsl(0, 0%, 20%);
}
.fa-brands.fa-whatsapp.fa-3x{
color: hsl(120, 37%, 52%);
}
.fa-brands.fa-whatsapp.fa-3x:hover{
color: hsl(120, 37%, 62%);
}
.fa-brands.fa-instagram.fa-3x{
color: hsl(16, 75%, 65%);
}
.fa-brands.fa-instagram.fa-3x:hover{
color: hsl(16, 75%, 75%);
}
footer{
    flex-wrap: wrap;
    text-align: center;
}
#copy, #contact{
    width: 100%;
    margin: 5px 0;
}
table{
    width: 100%;
    display: block;
    overflow-x: auto;
}
tr{
    background: #000;
    box-align:center;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown:hover a{
    color:blue;
}
.dropdown :active a{
    color: cyan;
}
.dropdown .content{
    background-color: aqua;
    position: absolute;
    min-width: 150px;
    box-shadow: 4px 4px 10px;
    display: none;
}
.dropdown:hover .content{
    display: block;
}
button{
    min-width: 80px;
    max-width: 200px;
   background-color: coral; 
}
.hr1{
    background-color: rgb(255, 0, 144);
    font-size: 0.9em;
}
button:hover{
    background-color: chartreuse;
    font-size: 1.2em;
}
button:active{
    color: red;
    font-size: 1.2em;
}
.logoutb{
    display: block;
    align-self: center;
    text-align: center;
}
button:visited{
    color: blueviolet;
}
img{
    width: 100%;
    height: auto;
}
@media screen and (max-width:600px) {
    .box1, .box2{
        width: 100%;
    }
     .search-box input, .search-box button{
        width: 100%;
        margin-bottom: 5px;
    }
}
@media screen and (min-width:601px) and (max-width:900px){
    .box1, .box2{
        max-width: 45%;
    }
}
