html{
    background-color:grey ;
    background-image:url(IMAGES/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.homem{
    font-size:1.5em;
}
.hr{
   font-size:1.0em; 
}
.a1{
    background-color: aqua;
}
.a2{
    background-color: red;
}
.a3{
    background-color: blueviolet;
}
.a4{
    background-color: beige;
}
.a5{
    background-color: chartreuse;
}
a:hover{
    color: chartreuse;
    font-size: 1.2em;
}
.search-box{
    display:flex;
    flex-direction: row;
    margin-top:0;


}
.search-box input{
width: 80%;
padding:8px;
border: none;
background-color: aquamarine;
border-radius: 3px;

}
.search-box button{
    padding:8px 15px;
    width: 20%;  
}
.row{
    display: flex;
}
.box1{
    margin-right: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.box2{
    margin-right:50%;
    text-align: center;
    margin-bottom: 10px;
}
.box1 img{
    width:200px;
    border: solid 30px red;
    border-radius: 10px;

}
.box2 img{
    width:200px;
    border: solid 30px red;
    border-radius: 10px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#copy{
    margin-right: 20px;
    font-size: 2rem;
    padding: 10px;
    width: 50%;

}
#contact{
    font-size: 1.2rem;
    padding: 10px;
    width: 50%;
}
table{
    border:solid 2px;
}
tr{
    background: #000;
    box-align:center;
}
.dropdown{
    display: inline-block;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    background-color: aqua;
    position: absolute;
    box-shadow: 2px 2px 5px;
    display: none;
}
.dropdown:hover .content{
    display: block;

}
button{
   background-color: coral; 
}
button:hover{
    background-color: chartreuse;
    font-size: 1.2em;
}
button:active{
    color: red;
    font-size: 1.2em;
}
button:visited{
    color: blueviolet;
}
