.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width:300px;
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(35, 34, 36);
    
}
.login-box h2{     
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
label{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-row{
    margin-right: 15px;
    margin-bottom: 10px;


}
.input-row input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1.5rem;
}
button{
    display: inline;
    width:100%;
    padding: 10px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}
button:hover{
    background-color: rgb(114, 236, 32);
    color: rgb(13, 0, 255);
}
.pi{
text-align: center;
color: blueviolet;
font-size: 1.2em;
font-weight: bolder;
}
.li{
    width: 250px;
    height: 250px;
    align-self: center;
    justify-self: center;
    display: block;
}
.lbut{
 text-decoration: none;   
}