*{
    box-sizing: border-box;
}
html{
    background-color: blanchedalmond;
}
h1{
    font-size: 2em;
    background-color: chartreuse;
    color: blue;
    text-align: center;
}
.pbox{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: blueviolet ;
    font-weight: bolder;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.pitem{
    width: 100%;
    max-width: 280px;
    box-sizing: border-box;
    box-align:center;
    color:coral;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
img{
   width: 100%;
   height:auto;

}
.pbox p{
    text-align: center;
}
.bp{
    background-color: blue;

}
.bp:hover{
    font-size: 1.2em;
    color: darkorchid;
}
.get{
    font-weight: bold;
    border-radius: 5px;
    background-color: palegreen;
    align-self: center;
    margin-left: 60px;
}
.get:hover{
    background-color: rgb(43, 195, 226);
    font-size: 1.2em;
}
@media (max-width:300px) {
    .pitem{
        width: 100%;
    }
}