*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: blanchedalmond;
}
h1{
    font-size: 2em;
    background-color: chartreuse;
    color: blue;
    text-align: center;
    padding: 10px;
}
.pbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: blueviolet ;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 20px;
    
}
.pitem{
    width: 100%;
    max-width: 280px;
    box-sizing: border-box;
    box-align:center;
    color:coral;
    margin: 10px;
    text-align: center;
}
img{
   width: 100%;
   height:auto;

}
.pbox p{
    text-align: center;
}
.bp{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}
.bp:hover{
    font-size: 1.1em;
    color: darkorchid;
}
.get{
    font-weight: bold;
    border-radius: 5px;
    background-color: palegreen;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.get:hover{
    background-color: rgb(43, 195, 226);
}
@media (max-width:600px) {
    .pitem{
        width: 100%;
    }
}
@media (min-width:601px) and (max-width:900px){
    .pitem{
        max-width: 45%;
    }
}
@media (min-width: 901px){
    .pitem{
        max-width: 280px;
    }
}