html{
    background-color: hsl(50, 5%, 53%);
}
.pay-box{
    display: flex;
    text-align:center;
    padding: 20px;
    border: 2px solid ;
    background-color: azure;
    width: 50%;
    justify-self: center;
    margin-top: 200px;
}
.paya{
    margin: 20px;
    padding: 2px;
    box-sizing: border-box;
}
.payb{
    border-radius: 5px;
}
.payb:hover{
    background-color: aquamarine;
    font-size: 1.0em;
}
.dis{
    text-align: center;
}