/* img{
    max-width: 100%;
    height: auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */
.card{
    width: 100%;
    max-width: 400px;
    margin: 10px;
}
@media (max-width:768px){
    nav ul {
        display: none;
    }
}
body{
    font-size: 16px;
}
@media (min-width:768px){
    body{
        font-size: 18px;
    }
}
@media (min-width:1024px){
    body{
        font-size: 20px;
    }
}
