html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:grey ;
}

.a1{
    background-color: aqua;
}
.a2{
    background-color: red;
}
.a3{
    background-color: blueviolet;
}
.a4{
    background-color: beige;
}
.a5{
    background-color: chartreuse;
}
.search-box{
    display:flex;
    flex-direction: row;
    margin-top:0;


}
.search-box input{
width: 80%;
padding:8px;
border: none;
background-color: aquamarine;
border-radius: 3px;

}
.search-box button{
    padding:8px 15px;
    width: 20%;
    
}
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width:300px;
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(35, 34, 36);
    
}
.login-box h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
label{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-row{
    margin-right: 15px;
    margin-bottom: 10px;


}
.input-row input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1.5rem;
}
button{
    width:100%;
    padding: 10px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}
button:hover{
    background-color: rgb(114, 236, 32);
    color: rgb(13, 0, 255);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#copy{
    margin-right: 20px;
    font-size: 2rem;
    padding: 10px;
    width: 50%;

}
#contact{
    font-size: 1.2rem;
    padding: 10px;
    width: 50%;
}