html{
    background-color: burlywood;
}
.row{
    display:flex;
    background-color: blue;
    margin-bottom: 20px;
}
.box{
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
    background-color: aquamarine;
    margin-bottom: 0px;
}
.service{
    background-color: chartreuse;
    font-size: 2em;
    color: blue;
    text-align: center;
}
.sh{
    font-weight: bolder;
    color: blueviolet;
}
.sb{
    border-radius: 5px;
    margin-bottom: 0px;
}
.sb:hover{
    background-color: blueviolet;
    font-size: 1.2em;
}